{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Tous Nos Biens</h1>
            <p></p>
        </div>
    </div>
{% endblock %}
