{% extends 'base.html.twig' %}
{% block title 'Editer le Bien'%}

{% block body %}
    <div class="container mt-4">
        <h1>Editer Le Bien</h1>
        {{ include('admin/property/form.html.twig', {form: form, button: 'Editer'}) }}
    </div>
{% endblock %}




